.articlee {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
#postForm {
  width: 50%;
}
.articleAll {
  width: 50%;
  display: flex;
  justify-content: center;
}
.articleAll img {
  width: 80%;
  border-radius: 20px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
.container {
  padding: 20px;
}
.header-blog {
  padding: 0 20px;
}
.article {
  display: flex;
  margin-top: 15px;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
}

.Author {
  padding-top: 10px;
  display: flex;
  gap: 15px;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
  padding-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.name-time {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.Author .name-time .name {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;

  /* margin-bottom: 10px; */
}
.Author span.time {
  /* font-weight: normal; */
}
.avatar img {
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 50%;
}

.action {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .lile {
  padding: 5px 10px;
}
.like:hover {
  background: #ccc;
} */

.like,
.share,
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* CSS */

.info .title {
  padding-bottom: 10px;
}

/* .skeleton {
  opacity: 0.4;
  animation: skeleton-loading 1s linear infinite alternate !important;
  user-select: none;
  pointer-events: none;
}

@keyframes skeleton-loading {
  0% {
    background: hsl(200, 20%, 80%);
  }
  100% {
    background: hsl(200, 20%, 95%);
  }
}

/* loading */

#root {
  display: none;
}

.box {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-clickLogin {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}
.btn-clickLogin:hover {
  background: #007bff;
}
